---
layout: 'search'
class : 'notes'
pagination:
  data: collections.noteTags
  size: 1
  alias: tag
permalink: /{{ class }}/search/tags/{{ tag }}/
title: Notes tagged with {{ tag }}
---
<h1>Notes for tag "{{ tag }}"</h1>
<ul>
  {% set noteList = collections.noteTagCollections[tag] %}
  {%- for note in noteList -%}
      <li><a href="{{ note.url | url }}">{{ note.data.title }}</a></li>
  {%- endfor -%}
</ul>
<p>Back to <a href="{{ '/notes/search/' | url }}">search</a>, to the <a href="{{ '/notes/' | url }}">most recent</a> or <a href="{{ '/notes/all' | url }}">full list</a> of notes</p>
