---
layout: 'base'
inlineStyle: ''
inlineScript: ''
---

<aside>
	{% include "partials/aside_posts.njk" %}
</aside>
<main class="posts">
	{% include "partials/showstrip.njk" %}
	{{ content | safe }}
</main>
