---
layout: 'about'
permalink: '/about/'
eleventyNavigation:
  key: 'About'
  title: 'About'
  order: 6
---

<h1>About Kristof Michiels</h1>

<p>Kristof Michiels is an educator, web developer/designer living in Antwerp, Belgium. Keywords - craftmanship, coding by hand.</p>

<p>Skills: pillars of the web: CSS and JavaScript. JAM-stack. 11ty. Open Source. Likes to put his word where his mouth is, endorsing a number of open source projects on opencollective.com: https://opencollective.com/kristof-michiels. Likes to roll his own vanilla JavaScript - Vue / React - Node - Express.</p>

<p>...</p>
