	<section class="showstrip">
		<div class="frame">
				<!-- scherm1 -->
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<!-- scherm2 -->
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<!-- scherm3 -->
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<!-- scherm4 -->
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
				<div class="element"></div>
		</div>
	</section>
